{% extends 'base.html.twig' %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
       <div class="alert alert-success"> {{ flashMessage }} </div>
    {% endfor %}
    <h3 class="page_header">Todo Create</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}